<h2>Edit Game</h2>
<div class="row">
  <div class="col-3">
    <%= render_component 'Decks', @game_config.decks %>
  </div>
  <div class="col-9">
    <%= render_component 'CardEditor', id: :new %>
    <%= render_component 'CardEditor', id: :edit %>
    <div>
      <h2>Rules....</h2>
    </div>
  </div>
</div>
