@import "./constants";

.card {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.card__element, .card-stack__element {
  width: 100px;
  border-width: 6px;
  border-style: solid;
  height: 150px;
  padding: 5px;
  position: relative;

  &.card--size-small {
    border-width: 3px;
    width: 50px;
    height: 76px;
    padding: 2px;
  }
}

.stacked {
  display: inline-block;

  .card {
    display: block;
  }
}

.card__overlay {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 112px;
  height: 40px;
  background: #b9bb23;
  opacity: 0.5;
  text-align: center;
  font-size: 30px;
}

@each $name, $color in $decks {
  .card__#{$name}-deck  {
    border-color: $color;

    &.card--face-down {
      background: linear-gradient(45deg, #92baac 22px, transparent 22px) 32px 32px,
      linear-gradient(45deg, #92baac 22px, transparent 22px,transparent 45px, $color 45px, $color 67px, transparent 67px),
      linear-gradient(-45deg, #92baac 11px, transparent 11px, transparent 34px,#92baac 34px,#92baac 56px,transparent 56px,transparent 79px,#92baac 79px);
      background-color: $color;
      background-size: 64px 64px;
    }
  }

  .card-stack__#{$name}-deck {
    border-color: $color;
    background: linear-gradient(45deg, #92baac 22px, transparent 22px) 32px 32px,
    linear-gradient(45deg, #92baac 22px, transparent 22px,transparent 45px, $color 45px, $color 67px, transparent 67px),
    linear-gradient(-45deg, #92baac 11px, transparent 11px, transparent 34px,#92baac 34px,#92baac 56px,transparent 56px,transparent 79px,#92baac 79px);
    background-color: $color;
    background-size: 64px 64px;
  }
}

.card--spot {
  border-color: lightgrey;
  color: lightgrey;

  .card--spot--rotated_text {
    position: absolute;
    top: 0;
    left: 0;

    /* Border is the new background */
    background: none;

    /* Rotate from top left corner (not default) */
    transform-origin: 33px 33px;
    transform: rotate(-90deg);

    width: 100%;
    height: 100%;
  }
}

.card__title {
  font-size: 14px;
  line-height: 12px;
  font-wieght: bold;
  border-bottom: solid 1px gray;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.card--size-small .card__title {
  font-size: 8px;
  line-height: 6px;
  font-wieght: bold;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.card__cost {
  position: absolute;
  top: -15px;
  right: -3px;
  width: 30px;
  text-align: center;
  line-height: 20px;
  height: 20px;
  border-radius: 10px;
  border: solid gray 2px;
  background: #CCC;
  color: darkgoldenrod;
  font-weight: bold;
}

.card--size-small .card__cost {
  top: -4px;
  right: -4px;
  width: 16px;
  text-align: center;
  line-height: 10px;
  height: 10px;
  border-radius: 0 0 0 10px;
  border: solid gray 1px;
  font-size: 8px;
}

.card__round {
  position: absolute;
  top: -10px;
  left: -4px;
  height: 10px;

  .round__1, .round__2, .round__3 {
    display: inline-block;
    border: solid 1px black;
    background: whitesmoke;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    padding: 2px;
  }

  &.card__round__1 .round__1,
  &.card__round__2 .round__1,
  &.card__round__2 .round__2,
  &.card__round__3 .round__1,
  &.card__round__3 .round__2,
  &.card__round__3 .round__3 {
    background: #333333;
  }

  &.card__rounds__0 .round__1,
  &.card__rounds__0 .round__2,
  &.card__rounds__0 .round__3,
  &.card__rounds__1 .round__2,
  &.card__rounds__1 .round__3,
  &.card__rounds__2 .round__3 {
    border-style: dashed;
    opacity: 0.7;
    background: whitesmoke;
  }

}

.card--size-small .card__round {
  top: -8px;
  left: -2px;
  height: 10px;

  .round__1, .round__2, .round__3 {
    height: 4px;
    width: 4px;
    border-radius: 5px;
    padding: 2px;
  }
}

ul.card__actions {
  font-size: 10px;
  color: #666;
  list-style: none;
  li {
    margin-bottom: 0;
  }

}

.card--size-small .card__actions {
  font-size: 6px;
}

.stack {
  display: inline-block;
  padding: 10px 12px;
  border-radius: 3px;
  vertical-align: top;
  border-left: dashed lightgrey 4px;
}

.stack:first-child {
  border-left: none;
}

.card-actions {
  display: inline-block;
  border: solid 3px black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: whitesmoke;
}

