@import "./constants";

.location {
  position: relative;
}

.location__title {
  font-size: 1em;
  color: black;
}

@each $name, $color in $decks {
  .location-#{$name} .location__title {
    background: $color;
    color: white;
  }
}

.decks {
  display: inline-block;
  position: relative;
}
