.player {
  border: solid 2px black;
  position: relative;
}

.player__title {
  font-size: 1.2em;
  color: #888;
  margin-bottom: 4px;
  position: absolute;
  top: -8px;
  left: 15px;
  height: 20px;
  border: solid 1px black;
  border-radius: 10px;
  line-height: 20px;
  background: white;
  padding: 0 15px
}
.player__inc-round {
  font-size: 1.2em;
  color: #888;
  margin-bottom: 4px;
  position: absolute;
  top: -8px;
  right: 15px;
  height: 20px;
  border: solid 1px black;
  border-radius: 10px;
  line-height: 20px;
  background: white;
  padding: 0 15px
}
.hand {
  display: inline-block;
}

.tokens {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.token {
  position: relative;
}

.tokens_header {
  font-weight: bold;
  text-align: center;
}

.token__count {
  position: absolute;
  display: inline-block;
  right: -6px;
  background: whitesmoke;
  border: black solid 1px;
  height: 10px;
  font-size: 12px;
  width: 10px;
  border-radius: 5px;
  text-align: center;
  vertical-align: top;
  line-height: 9px;
  font-weight: 900;
  text-decoration: none;
}

.token__count__inc {
  top: 2px;
  color: green;
  border-color: green;
}
.token__count__dec {
  bottom: 7px;
  color: red;
  border-color: red;
}

.token__image {
  border: solid 2px black;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 5px;
}

.token__image-cash {
  background: gold;
  border-color: darkgoldenrod;
}

.token__image-energy {
  background: lightblue;
  border-color: blue;
}

.token__image-sp {
  background: lightcoral;
  border-color: red;
}
