.player {
  border: solid 2px black;
  position: relative;
}

.player__title {
  font-size: 1.2em;
  color: #888;
  margin-bottom: 4px;
  position: absolute;
  top: -8px;
  left: 15px;
  height: 20px;
  border: solid 1px black;
  border-radius: 10px;
  line-height: 20px;
  background: white;
  padding: 0 15px
}

.hand {
  display: inline-block;
}

.tokens {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.tokens_header {
  font-weight: bold;
  text-align: center;
}

.token__image {
  border: solid 2px black;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 5px;
}

.token__image-cash {
  background: gold;
  border-color: darkgoldenrod;
}

.token__image-energy {
  background: lightblue;
  border-color: blue;
}

.token__image-achievement {
  background: lightcoral;
  border-color: red;
}
