.row {
  margin: 10px 0;
  padding: 10px;
}

.col-3 {
  display: inline-block;
  width: 24%;
  vertical-align: top;
}

.col-6 {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

.col-9 {
  display: inline-block;
  width: 72%;
  vertical-align: top;
}

ul {
  margin: 0;
  padding: 0px;
  list-style-type: none;
}

.add-object {
  color: green;
  border: solid 3px green;
  border-radius: 13px;
  line-height: 14px;
  height: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 34px;
  top: -13px;
  position: relative;

  &:hover {
    color: darkgreen;
    border-color: darkgreen;
  }
}

.inline {
  display: inline-block;
}
.inline + .inline {
  margin-right: 40px;
}

.overlay {
  background-repeat: repeat;
  height: calc(100vh);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.fixed__top-right {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
}
.header {
  z-index: 1000;
  position: relative;
  text-align: left;
}

.join-dialog {
  display: inline-block;
  padding: 10px;
  background: whitesmoke;
  border: solid 2px black;
  border-radius: 10px;
  margin:20px;
  bottom: 0;
  position: fixed;
  right: 0;

  .button_to, .btn {
    margin-bottom: 0;
  }
}
.modal {
  position: fixed;
  background: white;
  top: 120px;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  width: 720px;
  left: calc(50% - 400px);
  padding: 39px;
  border: solid 1px black;

  table {
    margin-bottom: 0;
  }
}
