.row {
  margin: 10px 0;
  padding: 10px;
}

.col-3 {
  display: inline-block;
  width: 24%;
  vertical-align: top;
}

.col-6 {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

.col-9 {
  display: inline-block;
  width: 72%;
  vertical-align: top;
}

ul {
  margin: 0;
  padding: 0px;
  list-style-type: none;
}

