.row {
  margin: 10px 0;
  padding: 10px;
}

.col-3 {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.col-6 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.col-6 {
  display: inline-block;
  width: 75%;
  vertical-align: top;
}

ul {
  margin: 0;
  padding: 0px;
  list-style-type: none;
}

